<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="index.php">
    <img src="assets/img/code-jiten.png" width="28px" height="36px" class="d-inline-block align-top" alt="code-jiten"> Code Jiten
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.php">ホーム</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          登録
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="register.php">実行例</a>
          <a class="dropdown-item" href="group_register.php">カテゴリ</a>
          <a class="dropdown-item" href="register_template.php">テンプレート</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
